<header class="p-4 py-3 flex items-center gap-8 justify-between bg-neutral-200">
  <h1 class="text-xl font-bold text-neutral-900">
    <span class="text-purple-700">chapterhub</span>-inventory
  </h1>
  <form action="/search" method="POST">
    <input
      placeholder="Search Books..."
      type="text"
      name="searchQuery"
      class="outline-none border-b-2"
    />
  </form>
</header>
