<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <div class="min-h-screen font-outfit text-neutral-950 bg-neutral-50">
      <%- include("partials/header") %>
      <p><%= title %></p>
    </div>
  </body>
</html>
