<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <div
      class="min-h-screen font-outfit text-neutral-950 bg-neutral-200 flex flex-col"
    >
      <%- include("partials/header") %>
      <div class="flex grow">
        <%- include("partials/sidebar") %>
        <div class="grow flex flex-col bg-neutral-50">
          <div class="grow">
            <section class="bg-neutral-200">
              <h2>Books</h2>
            </section>
          </div>
          <%- include("partials/footer") %>
        </div>
      </div>
    </div>
  </body>
</html>
